<div class="row" id="main-content">
	<div class="span3 fill">
		<div id="db-design-nav">
			<h3>Tables</h3>
			<div class="tables">
				<p>Loading...</p>
			</div>
			<h3>Views</h3>
			<div class="views">
				<p>Loading...</p>
			</div>
		</div>
	</div>
	<div class="span9 fill">
		<div id="db-design-tabs" class="fill">
			<ul></ul>
		</div>
	</div>
</div>
