<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li id="design"><a href="#design">Design</a></li>
				<li id="browse"><a href="#browse">Browse</a></li>
			</ul>
		</div>
	</div>
</div>
