doctype 5
html
    head
        title=title
        link(rel='stylesheet', href='/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/jquery-ui-1.10.3.css')
        link(rel='stylesheet', href='/css/main.css')
    body(style='padding-top: 60px; padding-bottom: 60px')
        header
        .container
            section#page-content
    script(data-main='/backbone/main', src='/js/lib/require.js')
